.customContainer-1{
    display: flex;
    margin: 2vmax auto;
    padding: 4vmax;
    width: 50vw;
    flex-wrap: wrap;

}

.customForm{
    width: 100%;
}

.customLink{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font: 1rem "Michroma"
}

.customStyle{
    text-decoration: none;
}


