.customContainer{
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    
}

.customPagination{
    display: flex;
    justify-content: center;
}

.customMenu{
    margin-left: 1vmax;
    width: 10vmax;
    position: absolute;
    top: 10vmax;
}

.customNoProductMessage{
    width: 100%;
    text-align: center;
    font: 1.3rem "Satisfy";
    height: 16vmax;
}


@media only screen and (max-width:900px) {

    .customMenu{
      
        width: 20vmax;
        position: static;
        margin: auto;
    }
}